h3 {
  font-family: $poppinsBold;
  color: $blue100;
  font-size: 28px;
  font-weight: bold !important;
}

h5 {
  font-family: $poppinsBold;
  color: $dim-gray;
  font-size: 18px;
  font-weight: bold !important;
};