#grafica {
  .card-body {
    min-height: 288px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f4f4f4;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
  }
}