#card-dashboard{
  .card {
    margin: 5% auto;
    min-height: 325px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px;
    
    .card-title {
      margin: 3%;
    }
    
    .card-text {
      padding: 0 50px;
    }
  }
}