@import '../breakpoints/_mixin-breakpoint.scss';
@import '../breakpoints/_breakpoints.scss';
@import '../breakpoints/_hidden-breakpoint.scss';

@include mq-max(mobile-big) {
  .navbar {
    padding: 9% 0 9% 5% !important;
    
    h5 {
      margin-bottom: 0%;
    }
    
    .navbar-brand {
      margin-right: 2rem;
    }
    
    .navbar-toggler {
      border-color: transparent !important;
      margin-right: 2%;
    }
  }
}


